[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
m2 = "python manage.py makemigrations"
m = "python manage.py migrate"
s = "python manage.py runserver"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
markdown = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.7"
